name: Run CI/CD pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]
        # Add <, macOS-latest> to os to test TiMBA's functionality for macOS. Currently, macOS produces different results
        # compared to ubuntu and windows without clear reason.
        # Newest Python version 3.12 cannot be tested as Python >3.12.6 is not compatible with pandas < 2.0

    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    # Install dependencies necessary for the package
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt
        pip install pytest pytest-cov

    # Run test suite and generate coverage report in XML format
    - name: Run test suite with coverage
      run: |
        pytest --cov=TiMBA --cov-report xml:coverage.xml

    # Upload the coverage XML report as an artifact
    - name: Upload coverage XML artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-${{matrix.os}}-${{ matrix.python-version }}
        path: coverage.xml
